<%= simple_form_for i18n_key do |form| %>
  <%= form.input :key %>
  <%= form.association :translations do |translation| %>
    <h2><%= translation.object.language %></h2>
    <%= translation.input :id, as: :hidden %>
    <%= translation.input :datum, as: :text, input_html: {rows: 2, cols: 100} %>
  <% end %>
  <%= form.button :submit %>
<% end %>
