<div id='i18n_keys'>
  <div>
    <%= render 'search', sections: @i18n_keys.facets['sections']['terms'] %>
    <h2><%= t('gallifreyian.new')%></h2>
    <%= render 'form', i18n_key: @i18n_key %>
    <ul>
      <% @i18n_keys.each do |i18n_key| %>
        <li>
          <ul>
            <li><%= I18n.t(i18n_key.key) %></li>
            <li>
              <%= render 'form', i18n_key: i18n_key %>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>

    <%= paginate @i18n_keys %>
  </div>
</div>
